@import "tailwindcss";

@plugin "tailwindcss-motion";

@theme {
    --font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-title: "Boldonse", ui-sans-serif, system-ui, sans-serif;
    --shadow-sharp-br: 8px 8px 0px 0px #000;
    --shadow-sharp-b: 0px 8px 0px 0px #000;
    --shadow-sharp-br-sm: 4px 4px 0px 0px #000;
    --shadow-sharp-b-sm: 0px 4px 0px 0px #000;
}


@layer components {
    .btn {
        @apply bg-orange-200 px-4 py-2 border-2 border-black transition-all;
    }

    .btn:hover {
        @apply bg-orange-300;
    }

    .btn2 {
        @apply bg-red-200 px-4 py-2 border-2 border-black transition-all;
    }

    .btn2:hover {
        @apply bg-red-300;
    }

    .inp {
        @apply p-2 border-2 border-black transition-colors;
    }

    .inp:focus {
        @apply outline-none border-red-800;
    }
}

html,
body {
    @apply bg-red-50 text-black;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}
